apiVersion: v1
kind: Secret
metadata:
  name: ${component.metrics-service.name}-secrets
  namespace: ${component.metrics-service.namespace}
  labels:
    app.kubernetes.io/name: metrics-service
    app.kubernetes.io/instance: ${component.metrics-service.name}
    app.kubernetes.io/component: api
data:
  metrics-api-secret:  ${component.metrics-service.metricsApiSecret/base64}
  postgresql-password: ${component.postgresql.password/base64}
