apiVersion: v1
kind: Secret
metadata:
  name: ${component.metrics-service.name}-secrets
  namespace: ${component.metrics-service.namespace}
  labels:
    provider: agilestacks.com
    project: metrics-service
    kubernetes.io/name: metrics-service
    kubernetes.io/cluster-service: "true"
data:
  metrics-api-secret:  ${component.metrics-service.metricsApiSecret/base64}
  postgresql-password: ${component.postgresql.password/base64}
