apiVersion: v1
kind: Service
metadata:
  name: ${component.metrics-service.name}
  namespace: ${component.metrics-service.namespace}
  labels:
    app.kubernetes.io/name: metrics-service
    app.kubernetes.io/instance: ${component.metrics-service.name}
    app.kubernetes.io/component: api
spec:
  ports:
  - name: http
    port: 80
    targetPort: 3001
    protocol: TCP
  selector:
    provider: agilestacks.com
    project: metrics-service
    qualifier: api
